body
{
	background-color: #eee;
}

.container 
{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  min-width: 900px;
}

.field
{
	width: 300px;
	height: 300px;
	box-shadow: 0 0 10px;
	background-color: #fff;
	display: inline-block;
	margin: 50px 35px;
	padding: 10px 0px;
	border-radius: 20px ;
}

.cont
{
	font-family: helvetica;
	color: #757575;
	text-shadow: 0 0 1px;
	font-size: 1.3em;
	margin-bottom: 20px;
	margin-left:10px;
	height: 50px;
	align-items: center;
	padding-top: 25px;  
}

#appart
{
	background:url("Image/ico2.png") no-repeat left;
	background-size: 35px;
}

#proprio
{
	background:url("Image/ico3.png") no-repeat left;
	background-size: 35px;
}

#tarif
{
	background:url("Image/ico1.png") no-repeat left;
	background-size: 35px;
}

#locat
{
	background:url("Image/ico4.png") no-repeat left;
	background-size: 35px;
}


.btn
{
	position: relative;
	width: 90%;
	height: 45px;
	background:url('Image/add2.png') no-repeat right center;
	background-size: 50px;
	cursor: pointer;	
	font-family: helvetica;
	font-style: italic;
	font-weight:bold;
	font-size: 30px;
	color: green;
	border: 1px solid grey;
	border-radius: 5px 5px;	
	transition: all ease 1s;
	background-color: rgba(5, 50, 10, 0.1);
}

.btn:hover{
	background-color: rgba(5, 255, 10, 0.5);
}

.link
{
	color: green;
	background-color: blue;
}

.bt
{
	width: 100%;
	height: 100%;
	font-weight: bold;
	color: orange; 
	font-size: 1.3em;
}

.test2
{
	width: 120px;
	height: 60px;
	box-shadow: 0 0 2px;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	transition: all ease 1s;
}

#print
{
	display: block;
	width: 100px;
	height: 25px;
	padding: 8px;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	border:1px solid #d5dbd9;
	border-radius: 5px 5px;
	background-color: lightgreen;
	transition: background-color 1s
}

button
{
	margin: 10px auto;
}